<footer>
    <div class="footer-social-icon">
        <a href="#"><i class="fa-brands fa-facebook"></i></a>
        <a href="#"><i class="fa-brands fa-instagram"></i></a>
        <a href="#"><i class="fa-brands fa-x"></i></a>
    </div>
</footer>
