
    <div class="navbar">
        <div class="nav-icon">
            <img src="@Url.Content("~/img/PionirIkona.png")" alt="">
        </div>
        <div class="nav-menu">
            <ul>
                <li>@Html.ActionLink("O nama", "Index", "Projekat")</li>
                <li>@Html.ActionLink("Meni", "Meni", "Projekat")</li>
                <li>@Html.ActionLink("Kontakt", "Create", "kupcis")</li>
            </ul>
        </div>
    </div>
